In [5]:
import pandas as pd
import csv

In [6]:
mlb_df = pd.read_csv('kaggle_mlb.csv')
mlb = mlb_df.dropna(how='any')

braves_df = mlb[['PLAYER_NAME', 'PLAYER_TEAM', '2019_HR']]
braves_df

          PLAYER_NAME PLAYER_TEAM  2019_HR
0          Mike Trout      Angels     45.0
1    Christian Yelich     Brewers     44.0
2    Ronald Acuna Jr.      Braves     41.0
3      Cody Bellinger     Dodgers     47.0
4        Mookie Betts     Dodgers     29.0
..                ...         ...      ...
698   Abiatal Avelino      Giants      0.0
699    Gordon Beckham      Padres      6.0
702       Jesus Sucre          FA      0.0
706   Ronald Torreyes    Phillies      0.0
724       Rajai Davis          FA      1.0

[548 rows x 3 columns]

In [7]:
braves = braves_df.loc[braves_df["PLAYER_TEAM"] == "Braves", :]
braves

            PLAYER_NAME PLAYER_TEAM  2019_HR
2      Ronald Acuna Jr.      Braves     41.0
14      Freddie Freeman      Braves     38.0
26         Ozzie Albies      Braves     24.0
47        Marcell Ozuna      Braves     29.0
150      Dansby Swanson      Braves     17.0
175        Austin Riley      Braves     18.0
185     Travis d'Arnaud      Braves     16.0
244      Ender Inciarte      Braves      5.0
265       Johan Camargo      Braves      7.0
288       Tyler Flowers      Braves     11.0
301         Adam Duvall      Braves     10.0
397  Adeiny Hechavarria      Braves      9.0
442       Yonder Alonso      Braves     10.0
457   Charlie Culberson      Braves      5.0
473        Alex Jackson      Braves      0.0
503       Peter O'Brien      Braves      1.0
673       Rafael Ortega      Braves      2.0

In [9]:
braves = braves.rename(columns={"PLAYER_NAME": "player_name", "PLAYER_TEAM": "player_team","2019_HR": "hr_2019"})
braves.head()

          player_name player_team  hr_2019
2    Ronald Acuna Jr.      Braves     41.0
14    Freddie Freeman      Braves     38.0
26       Ozzie Albies      Braves     24.0
47      Marcell Ozuna      Braves     29.0
150    Dansby Swanson      Braves     17.0

In [10]:
braves.to_csv('braves_hr.csv', index=False)