In [1]:
# import dependancies
import pandas as pd
from sqlalchemy import create_engine

# postgres login password
from config import key

In [2]:
baseball_etl = "brave_2019_schedule.csv"
kaggle_mlb = "braves_hr.csv"

In [3]:
baseball_etl_df = pd.read_csv(baseball_etl)
kaggle_mlb_df = pd.read_csv(kaggle_mlb)
# # baseball_etl_df.set_index("INDEX", inplace=True)
# baseball_etl_df = baseball_etl_df.drop(columns=["index"], axis=1)
# baseball_etl_df = baseball_etl_df.fillna('')
kaggle_mlb_df

           player_name player_team  hr_2019
0     Ronald Acuna Jr.      Braves     41.0
1      Freddie Freeman      Braves     38.0
2         Ozzie Albies      Braves     24.0
3        Marcell Ozuna      Braves     29.0
4       Dansby Swanson      Braves     17.0
5         Austin Riley      Braves     18.0
6      Travis d'Arnaud      Braves     16.0
7       Ender Inciarte      Braves      5.0
8        Johan Camargo      Braves      7.0
9        Tyler Flowers      Braves     11.0
10         Adam Duvall      Braves     10.0
11  Adeiny Hechavarria      Braves      9.0
12       Yonder Alonso      Braves     10.0
13   Charlie Culberson      Braves      5.0
14        Alex Jackson      Braves      0.0
15       Peter O'Brien      Braves      1.0
16       Rafael Ortega      Braves      2.0

In [4]:
kaggle_mlb_df = kaggle_mlb_df.rename(columns={"PLAYER_NAME": "PLAYER_NAME","PLAYER_TEAM": "PLAYER_TEAM", "2019_HR": "HR_2019"})

kaggle_mlb_df.head()

        player_name player_team  hr_2019
0  Ronald Acuna Jr.      Braves     41.0
1   Freddie Freeman      Braves     38.0
2      Ozzie Albies      Braves     24.0
3     Marcell Ozuna      Braves     29.0
4    Dansby Swanson      Braves     17.0

In [5]:
db_name = 'baseball_db'

# postgres password is {key}
connection_string = f"postgres:{key}@localhost:5432/{db_name}"
engine = create_engine(f'postgresql://{connection_string}')

In [6]:
baseball_etl_df.to_sql(name='schedule', con=engine, if_exists='append', index=True)

In [7]:
kaggle_mlb_df.to_sql(name='hr', con=engine, if_exists='append', index=True)

In [8]:
# Confirm tables
engine.table_names()

['schedule', 'hr']